<mat-card class="example-card" >
  <img mat-card-image class="image" [src]='playerDetails?.imageURL'>
  <div mat-dialog-actions >
    <h1 style="font-weight:bold;border:1px solid rgb(217, 221, 191);background-color: chartreuse;" class="close1" >Name:{{playerDetails?.fullName}}</h1>
  </div>
  <br>
  <table class="player" class="center">
    <tr>
      <th>Plays for:</th>
      <td colspan="2" itemprop="nationality">{{playerDetails?.country}}</td>
    </tr>

    <tr>
      <th>Birt Place:</th>
      <td colspan="2">{{playerDetails?.birthPlace}}
      </td>
    </tr>
    <tr>
      <th>Born:</th>
      <td colspan="2">{{playerDetails?.born}}</td>
    </tr>

    <tr>
      <th>Batting Style:</th>
      <td colspan="2">{{playerDetails?.battingStyle}}</td>
    </tr>

    <tr>
      <th>Bowling Style:</th>
      <td colspan="2">{{playerDetails?.bowlingStyle}}</td>
    </tr>

    <tr>
      <th>Role:</th>
      <td colspan="2">{{playerDetails?.role}}</td>
    </tr>




    <tr>
      <th >Player Stats:</th>
      <td colspan="2">{{playerDetails?.Stats}}</td>
      </tr>

  </table>
  <div mat-dialog-actions >
    <button mat-raised-button color="accent" class="close1" mat-button (click)="onNoClick()">Close</button>
  </div>
  </mat-card>
