<div class="container">
  <h2>Welcome dear {{user_name}}</h2>
  <h4>To update your password kindly fill the below form-</h4>
  <hr>
  <mat-card >
    <mat-card-content>
        <form class="my-form" #userForm="ngForm">
          <div>
            <mat-form-field>
              <!-- <mat-label class="label">oldpassword</mat-label> -->
              <div >
                <input type="text" id="oldpassword" class="matInputdata" matInput [(ngModel)]="user.oldpassword" #username="ngModel"
                    name="oldpassword"  placeholder="Enter Old Password Here">
              </div>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <!-- <mat-label class="label">newpassword</mat-label> -->
              <div>
                <input type="text" id="newpassword" class="matInputdata" matInput [(ngModel)]="user.newpassword" #username="ngModel"
                    name="newpassword"  placeholder="Enter New Password Here">
          </div>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button [disabled]="userForm.invalid" class="register-user" mat-raised-button color="accent" (click)="updatePassword()"
          id="btn">
          ChangePassword
        </button><br>
      </mat-card-actions>
    </mat-card>
    <br><br>

</div>

